<!DOCTYPE html>
<html>
<head>
  <title>SQL Practice</title>
  <script src="/static/app.js" defer></script>
  <link rel="manifest" href="/static/manifest.json">
  <meta name="theme-color" content="#1f4f5f">
</head>

<body>

<div class="sidebar">
  <h1>SQL Practice</h1>
  <a href="/?level=easy">Easy</a><br>
  <a href="/?level=medium">Medium</a><br>
  <a href="/?level=hard">Hard</a>
</div>

<div class="main">

  <div class="left">

    <div class="card">
      <h3>{{ q.question }}</h3>
      <p>Question {{ q.number }} of {{ q.total }}</p>
      <button onclick="toggleTables()">📋 Show Tables</button>
    </div>

    <div class="card">
      <input type="hidden" id="qid" value="{{ q.id }}">
      <textarea id="sql"></textarea><br><br>

      <button onclick="runQuery()">Run</button>
      <button onclick="showAnswer()">I don’t know</button>
    </div>

    <div class="card" id="output"></div>

    <div class="card">
      <h3>🤖 AI Assistant</h3>
      <input id="aiInput" placeholder="Ask anything">
      <button onclick="askAIMentor()">Ask</button>
      <button onclick="startVoiceInput()">🎤 Speak</button>
      <p id="aiOutput"></p>
    </div>

    <button id="installBtn" onclick="installApp()" style="display:none;">
      📲 Install App
    </button>

  </div>

  <div class="right" id="tablePanel" style="display:none">
    <div class="card">
      <h3>Available Tables</h3>
      <div id="tableInfo"></div>
    </div>
  </div>

</div>

</body>
</html>
