<!DOCTYPE html>
<html>
<head>
  <title>SQL Practice</title>
  <script src="/static/app.js" defer></script>
</head>

<body>

<div class="sidebar">
  <h1>SQL Practice</h1>
  <a href="/?level=easy">Easy</a>
  <a href="/?level=medium">Medium</a>
  <a href="/?level=hard">Hard</a>
</div>

<div class="main">

  <div class="left">
    <h3>{{ q.question }}</h3>
    <p>Question {{ q.number }} of {{ q.total }}</p>
    <button onclick="toggleTables()">📋 Show Tables</button>

    <div class="progress-container">
      <div class="progress-bar" id="progressBar"></div>
    </div>

    <p id="progressText"></p>
    <p id="accuracyText"></p>

    <input type="hidden" id="qid" value="{{ q.id }}">
    <textarea id="sql"></textarea><br>

    <button onclick="runQuery()">Run</button>
    <button onclick="showAnswer()">I don’t know</button>

    <form method="get" action="/" style="display:inline">
      <input type="hidden" name="level" value="{{ level }}">
      <input type="hidden" name="q_index" value="{{ q_index - 1 }}">
      <button {% if q_index == 0 %}disabled{% endif %}>⬅ Previous</button>
    </form>

    <form method="get" action="/" style="display:inline">
      <input type="hidden" name="level" value="{{ level }}">
      <input type="hidden" name="q_index" value="{{ q_index + 1 }}">
      <button {% if q_index + 1 == q.total %}disabled{% endif %}>➡ Next</button>
    </form>

    <div id="output"></div>
  </div>

  <div class="right" id="tablePanel" style="display:none">
    <h3>Available Tables</h3>
    <div id="tableInfo"></div>
  </div>

</div>
</body>
</html>
